.contact-section {
  width: 100%;
  background: #0d1117;
  color: white;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-section p {
  margin-bottom: 30px;
  color: #ccc;
}

.contact-form {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.row input {
  flex: 1;
  padding: 14px;
  background: #11161d;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 14px;
  background: #11161d;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  resize: none;
}

.send-btn {
  align-self: flex-end;
  padding: 10px 22px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.send-btn:hover {
  opacity: 0.8;
}
